@{
    ViewData["Title"] = "About Us";
}
@section Head{

    <title>About Us - Armoney</title>
    <meta name="description" content="Armoney is a leading #1 platform for cryptocurrency exchange in India. You can now invest in the world's leading cryptocurrency via Armoney.com  with just a few clicks. Visit today for more details!">
}
<style>





    .vc_custom_1509969103066 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 90px !important;
        padding-bottom: 90px !important;
        background-image: none !important;
    }
</style>

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>About us</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">About us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-226" class="post-226 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1509969103066 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1509623292032">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow fadeIn text_center">
                                            <h1 class="section-title dark_title">ABOUT ARMONEY</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle"></div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        Since 2018 our team of professionals has been structuring the Exchange, looking at principle vulnerabilities and adventures that went
                                                        by throughout the years. Manpreet (ARMONEY's CEO) figured out, at the time of selling mined crypto coins, exchange's were not playing fair
                                                        and charging hefty coin conversion rates, price gauging, no or bad or robotic customer support, etc..

                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        Our team found many vulnerabilities and loopholes in these exchanges, at the same kept the track of exploits and hack's
                                                        right from Mt. GOX days till the latest one Binance.

                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        R&D was also done on Indian Crypto Market, Exchanges are charging staggering prices on Crypto, customers not getting a fair price on there desired buy/sell, trading and withdrawals.
                                                        Huge gaps and spreads between the buying price, with USD or USDT pairs! when converted to Indian rupees it's catastrophically high!

                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        Indian Market is still reluctant to invest in crypto, difficult to understand platform functionality, many fear for the security of the assets,
                                                        lack of knowledge on buying/selling, regulatory clarity and foremost price gauging by several exchanges leading to trust issues.

                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        This will be taken care of here at <a href="https://armoney.com/">ARMoney.com</a>

                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div>
                                                    <p style="text-align: justify;">
                                                        <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                            We started the Armoney exchange development project keeping in mind:-

                                                        </span>
                                                    </p>
                                                    <ul class="volume-rule">
                                                        <li>Ease of use</li>
                                                        <li> Keeping the lowest fees throughout no matter what the trading buy or sell volume is.</li>
                                                        <li>
                                                            Top-notch customer care and support
                                                        </li>
                                                        <li>Best in Security</li>
                                                        <li>Liquidity</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p style="text-align: justify;">
                                                    <span style="color: #666666; font-size: 15px; line-height: 25px; font-weight: 400;">
                                                        Here at Armoney, we take pride in Fairness, Transparency, liquidity, security, customer care, and support.
                                                        <br />
                                                        Let's get India connected.
                                                    </span>
                                                </p>
                                            </div>
                                        </div>

                                        <div class="vc_empty_space" style="height: 35px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                     
                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>

                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
