@{
    ViewData["Title"] = "ALM Policy";
}
@section Head{



}
<style>

    .article-content {
        text-align: justify;
    }
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>AML & KYC Policy</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">AML & KYC Policy</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<article id="post-329" class="post high-padding post-329 type-post status-publish format-standard has-post-thumbnail hentry category-crypto">
    <div class="container">
        <div class="row">
            <!-- POST CONTENT -->
            <div class="col-md-12 col-sm-12 status-panel-sidebar main-content">

                <!-- CONTENT -->
                <div class="article-content">
                    <p>
                        Having regard for the safety of the users and due to the legal requirements, ARMONEY has implemented and started to use KYC policy (customer’s identification), AML / CTF (combating money-laundering and terrorist financing) as it is required from banks and other financial institutions.
                        <br /> <br />
                        The purpose of those policies is an effective combating of money-laundering and terrorist financing (AML / CTF) on our exchange by proper identification of actual users of our accounts and supervision of their transactions. We shall identify and cease transactions made not only to purchase/sell a cryptocurrency, but made mainly to hide the criminal origin of money, finance illegal activity or other unlawful behaviours.
                        <br /> <br />
                        Specific provisions of our policies are confidential and for internal use only, in order to prevent their avoidance by dishonest or fraudulent users. We would like to introduce to you some of the general rules and stipulations of our policies which directly concern you and affect the services we render.
                        <br /> <br />
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>User’s identification</strong>
                    </h3>
                    <p>
                        In the first place, we are obliged to identify, beyond a reasonable doubt, the identity of persons enabled to do transactions on our exchange. This is the reason why we collect ID scans, which authenticity is verified with special software of professional external providers.
                        <br /> <br />
                        We require sending “selfie” or your recording with ID document in order to preclude the possibility of using your documents by someone else. Verification of your likeness to the photo from your ID is made with the use of special software of professional external providers or, in case of doubts, done manually by our customer support services.
                        <br /> <br />
                        In case of any doubts, our customer support team will contact you to explain any concerns and solve the issues that arose.
                        <br /> <br />
                        If we cannot determine, beyond a reasonable doubt, that the documents you provided belong to you and are the authentic we won’t be able to let you to execute any transactions.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>User’s identification – Companies</strong>
                    </h3>
                    <p>
                        In case of all legal entities (companies), the procedure is more stringent and depends on the company’s structure, country, etc. Primarily, we need to establish who is the owner of the company, who can represent it, where the company is based and what is the business of the company.
                        <br /> <br />
                        Since standards regarding governmental documentation of legal entities are different in each country, every time the verification of such users is doing “manually” and is considerably more time-consuming.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>AML Compliance Person Designation and Duties </strong>
                    </h3>
                    <p>
                        The Company has designated its Directors as its Anti-Money Laundering Policy Compliance officer, with full responsibility for the Company’s AML policy (hereinafter referred as AML Compliance Party or designated Director). The duties of the AML Compliance designated Director, will include monitoring the Company’s compliance with AML obligations, overseeing communication and training for employees. The Designated Director will also ensure that the Company keeps and maintains all of the required AML records, if any. The Designated Director is vested with full responsibility and authority to enforce the Company’s AML policy.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Training Policies</strong>
                    </h3>
                    <p>
                        We will develop ongoing employee training under the leadership of the AML Compliance Party and senior management. Our training will occur on at least an annual basis. It will be based on our Company’s size, its customer base, and its resources and be updated as necessary to reflect any new developments in the law.
                        Our training will include, at a minimum:  <br /> <br />
                        (1) how to identify red flags and signs of money laundering that arise during the course of the employees’ duties;   <br /> <br />
                        (2) what to do once the risk is identified;   <br /> <br />
                        (3) what employees' roles are in the Company's compliance efforts and how to perform them; and   <br /> <br />
                        (4) the Company's record retention policy.  <br /> <br />
                        We will review our operations to see if certain employees, such as those in compliance, margin and corporate security, require specialized additional training. Our written procedures will be updated to reflect any such changes.

                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Monitoring Employee Conduct and Accounts</strong>
                    </h3>
                    <p>
                        We will subject employee accounts to the same AML procedures as customer accounts, under the supervision of the AML Compliance Party. We will also review the AML performance of supervisors, as part of their annual performance review. The AML Compliance Party’s accounts will be reviewed by the AML Compliance Person.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Confidential Reporting of AML Non-Compliance</strong>
                    </h3>
                    <p>
                        Employees will promptly report any potential violations of the Company’s AML compliance policy to the AML Compliance Party, unless the violations implicate the AML Compliance Party, in which case the employee shall report to the AML Compliance Party. Such reports will be confidential, and the employee will suffer no retaliation for making them.

                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Transactions’ monitoring and supervision</strong>
                    </h3>
                    <p>
                        Using our proprietary software, we also analyse all transactions that take place on our exchange looking for suspicious and unusual behaviors. Such selected transactions are analysed by our AML specialists and evaluated if they do not provide significant AML / CTF risks or if they needed to be ceased and clarified with the User.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Additional verification</strong>
                    </h3>
                    <p>
                        When your trade volume rises, our AML / CTF verification duties increase as well. The same happens when your transactions are “flagged” as suspicious or unusual, or our verification of your personal results in qualifying you as a person imposing significant AML / CTF risk.
                        <br /> <br />
                        In such cases, we can require additional documentation proving your real, exact place of residence, education, occupation, as well as the source of money you are using on the exchange.
                        <br /> <br />
                        Unfortunately, If our AML specialists decide information received from you don’t clarify our doubts, we will be obliged to end our cooperation with you or even report your transactions to relevant authorities.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Basic AM / CTF Rules</strong>
                    </h3>
                    <p>
                        Our operating rules include inter alia as follows:  <br /> <br />
                        1.ARMONEY does not accept cash deposits or cash withdrawals in any cases.  <br /> <br />
                        2.ARMONEY does not accept any third parties’ deposits on the user’s account, managing the account on behalf of somebody, joint or shared accounts, etc.  <br /> <br />
                        3.ARMONEY does not allow any exceptions in the field of documentation required from users.  <br /> <br />
                        4.ARMONEY reserves the right to refuse to process the User’s transaction at any time, in case of suspicion of AML / CTF risk.  <br /> <br />
                        5.In accordance with the international law, we are not obliged (or even forbidden) to inform our clients, if we report their behaviors as suspicious to relevant authorities.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Sanctioned countries</strong>
                    </h3>
                    <p>
                        In accordance with our policies we do not open accounts and do not process transactions for citizens and residents of, as well as people staying in, countries where transactions are prohibited by international sanctions or their internal law regulations, or countries which based on various criteria selected by our AML team (for example Corruption Perceptions Index by Transparency International, FATF warnings, countries with weak anti-money laundering and terrorist financing regimes determined by European Commission) impose high AML / CTF high risk.
                        <br /> <br />
                        Currently these countries are:  <br /> <br />
                        Afghanistan, American Samoa, Angola, Bahamas, Botswana, Burundi, Cambodia, Central African Republic, Chad, Congo, Cuba, Democratic Republic of Congo, Equatorial Guinea, Eritrea, Ethiopia, Ghana, Guam, Guinea Bissau, Syria, Iran, Iraq, North Korea, Lebanon, Libya, Mali, Nigeria, Pakistan, Panama, Puerto Rico, Samoa, Saudi Arabia, Sierra Leone, Somalia, South Sudan, Sri Lanka, Sudan, Syria, Trinidad and Tobago, Tunisia, Venezuela, Yemen, Zimbabwe, USA (some states), Bangladesh, Bhutan, Nepal.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>KYC verification</strong>
                    </h3>
                    <p>
                        When your trade volume rise AML / CTF risk increases as well. That is why we have to introduce proper safety and verification duties. You should remember that this model is a result of the work and experience of our AML team and can be changed as the legal requirements of countries changes as well as a result of gaining new knowledge and experience.

                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>AML Recordkeeping</strong>
                    </h3>
                    <p>
                        Our AML Compliance Party and its designee will be responsible for ensuring that AML records are maintained properly. In addition, as part of our AML policy, our Company will create and maintain relevant documentation on customer identity and verification  and funds transmittals. We will maintain such documentation for at least five years. We will hold such documentation confidential. We will not inform any third party about the existence of such documentation.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Clearing/Introducing Company Relationships</strong>
                    </h3>
                    <p>
                        We will work closely with our third party partners to detect money laundering, if required. We will exchange information, records, data and exception reports as necessary to comply with AML laws.
                    </p>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <div class="clearfix"></div>
                    <h3>
                        <strong>Additional Risk Areas</strong>
                    </h3>
                    <p>
                        The Company has reviewed all areas of its business to identify potential money laundering risks that may not be covered in the procedures described above.
                    </p>
                </div>
            </div>
        </div>
    </div>

</article>
<!-- #primary -->
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
