@{
    ViewData["Title"] = "B.I.M.A";
}
@section Head{



}
<style>
    .panel-single-icondrops {
        background: #c4f500 !important;
        color: #252525 !important;
    }
    .single-icondrops {
        background: #fff;
        box-shadow: 0 2px 6px rgba(0,0,0,.1);
        -ms-box-shadow: 0 2px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
        margin: 0 0 30px;
        padding: 15px 0;
    }
    .single-icondrops .token-sale-column {
        box-shadow: 0 2px 6px rgba(0,0,0,.1);
        -ms-box-shadow: 0 2px 6px rgba(0,0,0,.1);
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.1);
        padding: 30px 15px 30px;
        background: #f7f7f7;
        margin: 30px 10px;
    }
    p {
        margin: 20px 0 10px;
    }
    .token-days{
        font-size: 25px;
    }
    .list_description p {
        color: rgba(37,37,37,.7);
        font-size: 18px;
    }
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left"><h1>B.I.M.A</h1></div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right"><li><a href="/">Home</a></li> <li class="active">B.I.M.A</li></ol>
                </div>
            </div>
        </div>
    </div>
</div><div class="clearfix"></div>

<!-- Page content -->
<!-- Blog content -->
<div class="container blog-posts high-padding">

   
    <div class="row">


        <div class="col-md-12 main-content">

            <div class="row">
                <article id="post-16481" class="post post-16481 mt_listing type-mt_listing status-publish hentry mt-listing-category-ended-ico mt-listing-category2-real-estate">
                    <div class="container">
                        <div class="panel panel-single-icondrops">
                            <div class="panel-body">
                                Insurance/Protection Fund
                            </div>
                        </div>
                        <div class="row single-icondrops">
                            <div class="col-md-12 main-content">
                                <div class="row ico-info">
                                    <div class="col-md-12">
                                        <div class="list_description">
                                            <p>To protect the future interests of all users, Armoney will create a “Bhaiya insure my Assets(BIMA)” </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="token-sale-column">
                                    <div class="mt_listing_end_date_details">

                                        <span class="token-days">
                                            <strong>
                                                #Bhaiyainsuremyassets &nbsp;&nbsp; #BIMA2crypto &nbsp;&nbsp; <span>@@bhaiyaima</span> &nbsp;&nbsp;
                                                @@armoneyBIMA
                                            </strong>
                                        </span>
                                    </div>
                                </div>
                                <div class="row ico-info">
                                    <div class="col-md-12">
                                        <div class="list_description">
                                            <p>
                                                We will allocate 5% of all trading fees received into BIMA to offer protection to our users and their funds in extreme cases.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="row ico-info">
                                    <div class="col-md-12">
                                        <div class="list_description">
                                            <p>
                                                This fund will be stored in a separate cold wallet.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                       
                    </div>
                    <!-- container -->
                </article>


            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>


<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


