@{
    ViewData["Title"] = "Bonus";
}
@section Head{



}
<style>

    .testimonials02-container .testimonial02_position {
        font-size: 22px;
        line-height: 28px;
        font-weight: 900;
        text-align: center !important;
        text-transform: initial;
        font-style: italic;
        color: #a7a7a7;
        opacity: .7;
    }
    
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left"><h1>Bonus</h1></div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right"><li><a href="/">Home</a></li> <li class="active">Bonus</li></ol>
                </div>
            </div>
        </div>
    </div>
</div><div class="clearfix"></div>

<!-- Page content -->
<!-- Blog content -->
<div class="container blog-posts high-padding">

   
    <div class="row">


        <div class="col-md-12 main-content">

            <div class="row">


                <article id="post-17638" class="single-post col-md-12 list-view blogloop-v1 post-17638 post type-post status-publish format-standard has-post-thumbnail hentry category-ico">

                    <div class="testimonials02-container wow bounce owl-carousel owl-theme animated">
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper">
                                <div class="owl-item" style="width: 1100px;">
                                    <div class="row">
                                        <div class="item col-md-12 relative">
                                            <div class="testimonials_all_holder">
                                                <div class="testimonial02-text-holder">
                                                    <div class="testimonial02-content">
                                                        <div class="testimonial02_text">


                                                            <h4 class="testimonial02_position col-md-12">Sign up with Armoney and get a Bonus of ₹100/-</h4>
                                                            <div class="testimonial02_text_content col-md-12">
                                                                <p>
                                                                    Following conditions apply:-
                                                                    <ul>
                                                                        <li>Finish KYC</li>
                                                                        <li>Add Bank Account</li>
                                                                        <li>Follow us on Social media, any one platform:-</li>
                                                                    </ul>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1521819616254">
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#3b5998">
                                                                    <i class="list_icon fa fa-facebook"></i>
                                                                    <h3 class="list_title_text">Facebook</h3>
                                                                    <a target="_blank" href="https://www.facebook.com/ArmoneyARM/" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#4099ff">
                                                                    <i class="list_icon fa fa-twitter"></i>
                                                                    <h3 class="list_title_text">Twitter</h3>
                                                                    <a target="_blank" href="https://twitter.com/ARMoney03402441" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#e4405f">
                                                                    <i class="list_icon fa fa-instagram"></i>
                                                                    <h3 class="list_title_text">Instagram</h3>
                                                                    <a target="_blank" href="https://www.instagram.com/armoney_arm/" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#0077B5">
                                                                    <i class="list_icon fa fa-linkedin"></i>
                                                                    <h3 class="list_title_text">Linkedin</h3>
                                                                    <a target="_blank" href="https://www.linkedin.com/company/43316693" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#ff0000">
                                                                    <i class="list_icon fa fa-youtube-play"></i>
                                                                    <h3 class="list_title_text">YouTube</h3>
                                                                    <a target="_blank" href="https://www.youtube.com/channel/UCWGd8-wjrNC_z-XHcnby5sw" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_column vc_column_container vc_col-sm-2">
                                                    <div class="vc_column-inner">
                                                        <div class="wpb_wrapper">
                                                            <div class="social-icon-box vc_row wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
                                                                <div class="social-icon-box-holder" style="color:#ffffff;background-color:#0088cc">
                                                                    <i class="list_icon fa fa-telegram"></i>
                                                                    <h3 class="list_title_text">Telegram</h3>
                                                                    <a target="_blank" href="https://t.me/joinchat/AAAAAFFqPx5kBF8nqmFZAQ" class="list_button_text" style="color:#ffffff">
                                                                        Join
                                                                        <i class="list_button_icon fa fa-long-arrow-right"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
              
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>


<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


