@{
    ViewData["Title"] = "Buy USDC";
}
<style>
    .vc_custom_1515505817533 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 65px !important;
        padding-bottom: 95px !important;
        background-image: url(../wp-content/uploads/2018/01/usdc.png) !important;
    }
    .vc_custom_1516887357965 {
        margin-bottom: 0px !important;
        padding-top: 55px !important;
        padding-bottom: 90px !important;
        background-image: url(../wp-content/uploads/2017/10/picture6_currency.jpg?id=66) !important;
    }
    .listings_details {
        height:200px;
        margin-top:20px;
    }
    .blog_custom_listings {
        padding: 20px;
        background: #fff;
        box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.54);
        -ms-box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.54);
        -webkit-box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.54);
        padding: 15px 30px 20px 30px;
        margin-bottom: 30px;
        border-radius: 15px;
    }
    .fl {
        display: flex;
    }
    .buy-coin a {
        padding: 15px 35px !important;
        font-weight: 700;
        font-size: 13px !important;
        line-height: 13px !important;
    }
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-15484" class="post-15484 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515505817533 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <script>jQuery(document).ready(function () {
                                                jQuery(".popup-vimeo-video").magnificPopup({
                                                    type: "iframe",
                                                    disableOn: 700,
                                                    removalDelay: 160,
                                                    preloader: false,
                                                    fixedContentPos: false
                                                });


                                                jQuery(".popup-vimeo-youtube").magnificPopup({
                                                    type: "iframe",
                                                    disableOn: 700,
                                                    removalDelay: 160,
                                                    preloader: false,
                                                    fixedContentPos: false
                                                });
                                            });</script>
                                        <div class="mt_video text-center row">
                                            <div class="wow fadeIn">

                                            </div>
                                        </div>
                                        <h1 style="font-size: 48px;color: #ffffff;line-height: 62px;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_appear appear">
                                            <strong>What is USDC Coin?</strong>
                                        </h1>
                                        <h3 style="font-size: 20px;color: #ffffff;line-height: 42px;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_appear appear">USD Coin (USDC) is a type of cryptocurrency that is referred to as a stablecoin. You can always redeem 1 USD Coin for US$1.00, giving it a stable price.
                                        On ARMoney, eligible customers can earn rewards for every USD Coin they hold.</h3>
                                        
                                        <div class="vc_empty_space" style="height: 50px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="vc_btn3-container  buy-coin vc_btn3-center vc_custom_1515505367906">
                                            <a style="background-color:#baa049; color:#ffffff;" class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-rounded vc_btn3-style-custom" href="https://armoney.in/Exchange?pair=USDC-INR" target="_blank">Buy USDC Coin here</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515504741156 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow fadeIn text_center">
                                            <h1 class="section-title dark_title"></h1>
                                            <!-- <div class="section-border dark_border"></div> -->

                                            <div class="section-subtitle dark_subtitle"></div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1515504729264">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-3">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">

                                                                <div class="col-md-12">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Stable value</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <p>
                                                                        For customers with a US dollar bank account, 1 USDC can always be redeemed for US$1.00, giving it a stable price.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Backed by US dollars</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <p>
                                                                        Each USDC is backed by one US dollar, which is held in a bank account.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Powered by Ethereum</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <p>
                                                                        USD Coin is an Ethereum token, so you can store it in an Ethereum-compatible wallet, like Coinbase Wallet.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Global transactions</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <p>
                                                                        USD Coin is designed to let dollars move globally from your crypto wallet to other exchanges, businesses, and people.
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
