@{
    ViewData["Title"] = "Carrers";
}
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Carrers</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Carrers</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-1938" class="post-1938 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1509621455423 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1509621838573">
                                    <div class="wpb_wrapper">

                                        <div class="vc_empty_space" style="height: 50px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1519132224869">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <img width="485" height="162" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="https://cryptic.modeltheme.com/wp-content/uploads/2018/02/picture13_currencyazwr.png" class="lazy lazy-hidden vc_single_image-img attachment-full" alt="value" data-lazy-srcset="https://cryptic.modeltheme.com/wp-content/uploads/2018/02/picture13_currencyazwr.png 485w, https://cryptic.modeltheme.com/wp-content/uploads/2018/02/picture13_currencyazwr-300x100.png 300w" data-lazy-sizes="(max-width: 485px) 100vw, 485px" />
                                                                    <noscript>
                                                                        <img width="485" height="162" src="../wp-content/uploads/2018/02/picture13_currencyazwr.png" class="vc_single_image-img attachment-full" alt="value" srcset="https://cryptic.modeltheme.com/wp-content/uploads/2018/02/picture13_currencyazwr.png 485w, https://cryptic.modeltheme.com/wp-content/uploads/2018/02/picture13_currencyazwr-300x100.png 300w" sizes="(max-width: 485px) 100vw, 485px" />
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="color: #252525;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1510147428598">Our values</h3>
                                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: left; color: #666666;">
                                                                    Our values inform our behavior and the choices we make every day. As a result, our culture is a model of the world we’re trying to build: transparent, joyful, curious, and fast-moving. Our values are a large part of why ARMoney is a great place to work, and why we’ve been successful. They are much more than words to us (and we have the emojis to prove it).
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1510672145317">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <img class="lazy lazy-hidden vc_single_image-img " src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture14_currency-360x120.png" width="360" height="120" alt="picture14_currency" title="picture14_currency" />
                                                                    <noscript>
                                                                        <img class="vc_single_image-img " src="../wp-content/uploads/2017/10/picture14_currency-360x120.png" width="360" height="120" alt="picture14_currency" title="picture14_currency" />
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="color: #252525;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1510147403534">Our mission</h3>
                                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: left; color: #666666;">
                                                                    We think achieving our mission is the highest leverage way to bring about more economic freedom, innovation, efficiency, and equality of opportunity in the world. Each member of our team—every engineer, designer, kitchen team member, lawyer, writer, support coordinator, recruiter, and product manager—plays an important role in helping us achieve our mission.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1509621896054">
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <div class="wpb_single_image wpb_content_element vc_align_right  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1510672158040">
                                                            <figure class="wpb_wrapper vc_figure">
                                                                <div class="vc_single_image-wrapper   vc_box_border_grey">
                                                                    <img width="485" height="162" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture15_currency.png" class="lazy lazy-hidden vc_single_image-img attachment-full" alt="picture15_currency.png" data-lazy-srcset="https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture15_currency.png 485w, https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture15_currency-300x100.png 300w" data-lazy-sizes="(max-width: 485px) 100vw, 485px" />
                                                                    <noscript>
                                                                        <img width="485" height="162" src="../wp-content/uploads/2017/10/picture15_currency.png" class="vc_single_image-img attachment-full" alt="picture15_currency.png" srcset="https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture15_currency.png 485w, https://cryptic.modeltheme.com/wp-content/uploads/2017/10/picture15_currency-300x100.png 300w" sizes="(max-width: 485px) 100vw, 485px" />
                                                                    </noscript>
                                                                </div>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                                <div class="vc_column-inner">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="color: #252525;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1510147414492">Working at ARMoney</h3>
                                                        <div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: left; color: #666666;">
                                                                    We’ve taken a huge challenge and made it into our mission: To create an open financial system for the world. To achieve this, we are building a team of smart, creative, passionate optimists, the kind of people who see opportunity where others see roadblocks. If this sounds like you, check out our open roles.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>

                        <div class="wpb_column vc_column_container vc_col-sm-12">
                            <div class="vc_column-inner vc_custom_1510060917274">
                                <div class="wpb_wrapper">
                                    <div class="title-subtile-holder wow  ">
                                        <h1 class="section-title dark_title">Apply for Job</h1>
                                        <div class="section-border dark_border"></div>
                                        <div class="section-subtitle dark_subtitle">

                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 50px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <div role="form" class="wpcf7" id="wpcf7-f4-p262-o1" lang="en-US" dir="ltr">
                                        <div class="screen-reader-response"></div>
                                        <form action="https://cryptic.modeltheme.com/contact/#wpcf7-f4-p262-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                            <div style="display: none;">
                                                <input type="hidden" name="_wpcf7" value="4" />
                                                <input type="hidden" name="_wpcf7_version" value="5.1.4" />
                                                <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p262-o1" />
                                                <input type="hidden" name="_wpcf7_container_post" value="262" />
                                            </div>
                                            <div class="bitcurrency-contact">
                                                <div class="section-top">
                                                    <span class="wpcf7-form-control-wrap first-name">
                                                        <input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" />
                                                    </span>
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap last-name">
                                                        <input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" />
                                                    </span>
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-email">
                                                        <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Adress" />
                                                    </span>
                                                    <br />
                                                    <span class="wpcf7-form-control-wrap your-message">
                                                        <span><b>Upload CV</b></span> <input type="file" name="fileupload" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Upload CV" />
                                                    </span>
                                                </div>
                                                <p>
                                                    <input type="submit" value="Apply" class="wpcf7-form-control wpcf7-submit" />
                                                </p>
                                            </div>
                                            <div class="wpcf7-response-output wpcf7-display-none"></div>
                                        </form>
                                    </div>
                                    <div class="vc_empty_space" style="height: 50px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


