@{
    ViewData["Title"] = "Earn";
}
<style>
    .vc_row[data-vc-full-width].vc_hidden {
        opacity:unset !important;
    }
    #primary {
        background-color: #252525;
    }
</style>


<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-17335" class="post-17335 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1524043082744 vc_row-has-fill" style="position: relative; left: -40px; box-sizing: border-box; width: 1250px; padding-left: 40px; padding-right: 40px;">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1523461042044">
                                    <div class="wpb_wrapper">
                                        <section id="animation-waypoint" class="animated_svg_unique5e859a798df0b">
                                            <div id="js-animation-hero">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="1920" height="900" viewBox="0 0 1920 900" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%;">
                                                    <defs>
                                                        <clipPath id="animationMask_v3xNzsK8lv">
                                                            <rect width="1920" height="900" x="0" y="0"></rect>
                                                        </clipPath>
                                                        <clipPath id="YKunWN3lA0">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M309,-13.5 C309,-13.5 -9,-13.5 -9,-13.5 C-9,-13.5 -9,14.73 -9,14.73 C-9,14.73 309,14.73 309,14.73 C309,14.73 309,-13.5 309,-13.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="6tkMxRTSqZ">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M306,-16.5 C306,-16.5 -19,-16.5 -19,-16.5 C-19,-16.5 -19,19.781 -19,19.781 C-19,19.781 306,19.781 306,19.781 C306,19.781 306,-16.5 306,-16.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="RpmwZe8GHf">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M135,-13.5 C135,-13.5 -34,-13.5 -34,-13.5 C-34,-13.5 -34,12.367 -34,12.367 C-34,12.367 135,12.367 135,12.367 C135,12.367 135,-13.5 135,-13.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="re6gChkTON">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M128,-13.5 C128,-13.5 -15.5,-13.5 -15.5,-13.5 C-15.5,-13.5 -15.5,17.121 -15.5,17.121 C-15.5,17.121 128,17.121 128,17.121 C128,17.121 128,-13.5 128,-13.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="dFZf7mPkcE">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M57.016,-10.5 C57.016,-10.5 -10,-10.5 -10,-10.5 C-10,-10.5 -10,13.781 -10,13.781 C-10,13.781 57.016,13.781 57.016,13.781 C57.016,13.781 57.016,-10.5 57.016,-10.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="oTBVnQZM10">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M52,-8.5 C52,-8.5 -8,-8.5 -8,-8.5 C-8,-8.5 -8,11.836 -8,11.836 C-8,11.836 52,11.836 52,11.836 C52,11.836 52,-8.5 52,-8.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="NkZi9qVfPf">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M18,-3 C18,-3 -9,-3 -9,-3 C-9,-3 -9,23.865 -9,23.865 C-9,23.865 18,23.865 18,23.865 C18,23.865 18,-3 18,-3" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="k2zDvxLQBC">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M17.801,-5.5 C17.801,-5.5 -11,-5.5 -11,-5.5 C-11,-5.5 -11,24.041 -11,24.041 C-11,24.041 17.801,24.041 17.801,24.041 C17.801,24.041 17.801,-5.5 17.801,-5.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="ICxFC7IFkP">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M53.066,-7 C53.066,-7 -14,-7 -14,-7 C-14,-7 -14,9.568 -14,9.568 C-14,9.568 53.066,9.568 53.066,9.568 C53.066,9.568 53.066,-7 53.066,-7" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="WiyPQnQxcm">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M54,-6 C54,-6 -7,-6 -7,-6 C-7,-6 -7,10.268 -7,10.268 C-7,10.268 54,10.268 54,10.268 C54,10.268 54,-6 54,-6" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="PKFBEb2czm">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M7.182,-14 C7.182,-14 -4,-14 -4,-14 C-4,-14 -4,51.344 -4,51.344 C-4,51.344 7.182,51.344 7.182,51.344 C7.182,51.344 7.182,-14 7.182,-14" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="y7HGA2FQsZ">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M5.188,-2 C5.188,-2 -1.5,-2 -1.5,-2 C-1.5,-2 -1.5,55 -1.5,55 C-1.5,55 5.188,55 5.188,55 C5.188,55 5.188,-2 5.188,-2" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="TD0qhkd78O">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.051,-6 C6.051,-6 -4,-6 -4,-6 C-4,-6 -4,56 -4,56 C-4,56 6.051,56 6.051,56 C6.051,56 6.051,-6 6.051,-6" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="CfjiIzWSMz">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M11,-9 C11,-9 -7.84,-9 -7.84,-9 C-7.84,-9 -7.84,58.5 -7.84,58.5 C-7.84,58.5 11,58.5 11,58.5 C11,58.5 11,-9 11,-9" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="MeqXQRXpsF">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M8.24,-3 C8.24,-3 -6.5,-3 -6.5,-3 C-6.5,-3 -6.5,108 -6.5,108 C-6.5,108 8.24,108 8.24,108 C8.24,108 8.24,-3 8.24,-3" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="uWArWzJphl">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M7.164,-6 C7.164,-6 -4.5,-6 -4.5,-6 C-4.5,-6 -4.5,107 -4.5,107 C-4.5,107 7.164,107 7.164,107 C7.164,107 7.164,-6 7.164,-6" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="NkTJFfOVoj">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M80,-4 C80,-4 -6.5,-4 -6.5,-4 C-6.5,-4 -6.5,7.762 -6.5,7.762 C-6.5,7.762 80,7.762 80,7.762 C80,7.762 80,-4 80,-4" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="slW8oQhWrW">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M8.25,-10 C8.25,-10 -2.913,-10 -2.913,-10 C-2.913,-10 -2.913,26 -2.913,26 C-2.913,26 8.25,26 8.25,26 C8.25,26 8.25,-10 8.25,-10" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="P2JAChdv1Q">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.5,-4 C6.5,-4 -2.447,-4 -2.447,-4 C-2.447,-4 -2.447,38.75 -2.447,38.75 C-2.447,38.75 6.5,38.75 6.5,38.75 C6.5,38.75 6.5,-4 6.5,-4" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="hLFBtoFgZw">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M13.75,-17 C13.75,-17 -8.287,-17 -8.287,-17 C-8.287,-17 -8.287,60.5 -8.287,60.5 C-8.287,60.5 13.75,60.5 13.75,60.5 C13.75,60.5 13.75,-17 13.75,-17" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="wlG95z5Kzi">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M11,-2 C11,-2 -6.193,-2 -6.193,-2 C-6.193,-2 -6.193,55.5 -6.193,55.5 C-6.193,55.5 11,55.5 11,55.5 C11,55.5 11,-2 11,-2" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="N6D245N7jQ">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.311,-4 C6.311,-4 -3,-4 -3,-4 C-3,-4 -3,67 -3,67 C-3,67 6.311,67 6.311,67 C6.311,67 6.311,-4 6.311,-4" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="ztfy34rDEm">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M7.776,-7 C7.776,-7 -5,-7 -5,-7 C-5,-7 -5,60 -5,60 C-5,60 7.776,60 7.776,60 C7.776,60 7.776,-7 7.776,-7" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="rXk7mr3bJd">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M112,-3.294 C112,-3.294 -3,-3.294 -3,-3.294 C-3,-3.294 -3,7.5 -3,7.5 C-3,7.5 112,7.5 112,7.5 C112,7.5 112,-3.294 112,-3.294" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="nHX9v7G5Qh">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M105,-2.5 C105,-2.5 -7.5,-2.5 -7.5,-2.5 C-7.5,-2.5 -7.5,5.716 -7.5,5.716 C-7.5,5.716 105,5.716 105,5.716 C105,5.716 105,-2.5 105,-2.5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="idUVYZBl6O">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M8.811,-12 C8.811,-12 -6.5,-12 -6.5,-12 C-6.5,-12 -6.5,109.557 -6.5,109.557 C-6.5,109.557 8.811,109.557 8.811,109.557 C8.811,109.557 8.811,-12 8.811,-12" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="zNsYKSiSOp">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.027,-6 C6.027,-6 -2.5,-6 -2.5,-6 C-2.5,-6 -2.5,107 -2.5,107 C-2.5,107 6.027,107 6.027,107 C6.027,107 6.027,-6 6.027,-6" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="NL2n27eJ14">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.114,-4.75 C6.114,-4.75 -3,-4.75 -3,-4.75 C-3,-4.75 -3,51 -3,51 C-3,51 6.114,51 6.114,51 C6.114,51 6.114,-4.75 6.114,-4.75" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="blKNhiP4ff">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.144,-5 C6.144,-5 -3.75,-5 -3.75,-5 C-3.75,-5 -3.75,55 -3.75,55 C-3.75,55 6.144,55 6.144,55 C6.144,55 6.144,-5 6.144,-5" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="MYHSfuVaaB">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M6.5,-15 C6.5,-15 -1.879,-15 -1.879,-15 C-1.879,-15 -1.879,53.375 -1.879,53.375 C-1.879,53.375 6.5,53.375 6.5,53.375 C6.5,53.375 6.5,-15 6.5,-15" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="mB5IjterMq">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M4.869,-3.375 C4.869,-3.375 -1.625,-3.375 -1.625,-3.375 C-1.625,-3.375 -1.625,52 -1.625,52 C-1.625,52 4.869,52 4.869,52 C4.869,52 4.869,-3.375 4.869,-3.375" fill-opacity="1"></path>
                                                        </clipPath>
                                                        <clipPath id="RDVBxIthMv">
                                                            <path fill="#ffffff" clip-rule="nonzero" d=" M154.795,-6.25 C154.795,-6.25 49,-6.25 49,-6.25 C49,-6.25 49,7.347 49,7.347 C49,7.347 154.795,7.347 154.795,7.347 C154.795,7.347 154.795,-6.25 154.795,-6.25" fill-opacity="1"></path>
                                                        </clipPath>
                                                    </defs>
                                                    <g clip-path="url(#animationMask_v3xNzsK8lv)">
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,875,619.5)" opacity="1">
                                                            <image width="60px" height="60px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_36.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(-1.5,-1.8369701987210297e-16,1.8369701987210297e-16,-1.5,1071.125,751.125)" opacity="1">
                                                            <image width="152px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_35.png" clip-path="url(#RDVBxIthMv)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,993.312,674.062)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_34.png" clip-path="url(#mB5IjterMq)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(-1.5,1.8369701987210297e-16,-1.8369701987210297e-16,-1.5,847.625,749.062)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_34.png" clip-path="url(#MYHSfuVaaB)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,842.75,580.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_34.png" clip-path="url(#blKNhiP4ff)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,992.75,580.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_34.png" clip-path="url(#NL2n27eJ14)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,894.5,202.5)" opacity="1">
                                                            <image width="34px" height="60px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_33.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1300.25,758.25)" opacity="1">
                                                            <image width="58px" height="58px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_17.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,452,51.75)" opacity="1">
                                                            <image width="58px" height="58px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_17.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1152.5,655.5)" opacity="1">
                                                            <image width="55px" height="57px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_32.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,600.5,654.75)" opacity="1">
                                                            <image width="60px" height="59px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_31.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1149.5,155.25)" opacity="1">
                                                            <image width="59px" height="59px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_30.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,614.75,155.25)" opacity="1">
                                                            <image width="57px" height="59px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_29.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,-3.6739403974420594e-16,3.6739403974420594e-16,1.5,1341.5,613.5)" opacity="1">
                                                            <image width="3px" height="100px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_28.png" clip-path="url(#zNsYKSiSOp)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,493.25,132)" opacity="1">
                                                            <image width="3px" height="100px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_28.png" clip-path="url(#idUVYZBl6O)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1193,614.25)" opacity="1">
                                                            <image width="100px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_27.png" clip-path="url(#nHX9v7G5Qh)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,497,277.5)" opacity="1">
                                                            <image width="100px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_27.png" clip-path="url(#rXk7mr3bJd)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1190.75,580.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_26.png" clip-path="url(#ztfy34rDEm)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,643.25,580.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_26.png" clip-path="url(#N6D245N7jQ)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1191.5,245.25)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_25.png" clip-path="url(#wlG95z5Kzi)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,643.625,245.25)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_25.png" clip-path="url(#hLFBtoFgZw)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,917.75,293.625)" opacity="1">
                                                            <image width="3px" height="35px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_24.png" clip-path="url(#P2JAChdv1Q)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1701.875,479.625)" opacity="1">
                                                            <image width="60px" height="58px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_23.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1745.375,571.875)" opacity="1">
                                                            <image width="3px" height="20px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_22.png" clip-path="url(#slW8oQhWrW)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1640.75,597)" opacity="1">
                                                            <image width="70px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_21.png" clip-path="url(#NkTJFfOVoj)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,149,220.5)" opacity="1">
                                                            <image width="60px" height="59px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_20.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1640.75,448.5)" opacity="1">
                                                            <image width="3px" height="100px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_19.png" clip-path="url(#uWArWzJphl)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,191.75,308.25)" opacity="1">
                                                            <image width="3px" height="100px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_18.png" clip-path="url(#MeqXQRXpsF)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1409,243)" opacity="1">
                                                            <image width="58px" height="58px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_17.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,336.5,571.5)" opacity="1">
                                                            <image width="58px" height="58px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_17.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1419.5,583.5)" opacity="1">
                                                            <image width="38px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_16.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,359,256.5)" opacity="1">
                                                            <image width="40px" height="40px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_15.png"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1451,323.25)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_14.png" clip-path="url(#CfjiIzWSMz)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,379.25,502.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_13.png" clip-path="url(#TD0qhkd78O)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1446.125,502.875)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_12.png" clip-path="url(#y7HGA2FQsZ)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,387.5,322.5)" opacity="1">
                                                            <image width="3px" height="50px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_11.png" clip-path="url(#PKFBEb2czm)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1371.5,503.25)" opacity="1">
                                                            <image width="50px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_10.png" clip-path="url(#WiyPQnQxcm)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,392,393)" opacity="1">
                                                            <image width="50px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_9.png" clip-path="url(#ICxFC7IFkP)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1347.5,490.5)" opacity="1">
                                                            <image width="15px" height="20px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_8.png" clip-path="url(#k2zDvxLQBC)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,470,379.5)" opacity="1">
                                                            <image width="15px" height="20px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_7.png" clip-path="url(#NkZi9qVfPf)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1269.5,503.25)" opacity="1">
                                                            <image width="50px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_6.png" clip-path="url(#oTBVnQZM10)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,495.5,392.25)" opacity="1">
                                                            <image width="50px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_5.png" clip-path="url(#dFZf7mPkcE)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1267.25,393.75)" opacity="1">
                                                            <image width="125px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_4.png" clip-path="url(#re6gChkTON)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,382.25,501.75)" opacity="1">
                                                            <image width="125px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_3.png" clip-path="url(#RpmwZe8GHf)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,1269.5,447.75)" opacity="1">
                                                            <image width="250px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_2.png" clip-path="url(#6tkMxRTSqZ)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,195.5,453.75)" opacity="1">
                                                            <image width="250px" height="3px" preserveAspectRatio="xMidYMid slice" xlink:href="https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_1.png" clip-path="url(#YKunWN3lA0)"></image>
                                                        </g>
                                                        <g class="png" transform="matrix(1.5,0,0,1.5,569,317.25)" opacity="1">
                                                            <image width="468px" height="177px" preserveAspectRatio="xMidYMid slice" xlink:href="../wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/images/img_0.png"></image>
                                                        </g>
                                                    </g>
                                                </svg>
                                            </div>
                                        </section>
                                    </div>
                                    <script type="text/javascript">var anim;
                                        var elem = document.getElementById("js-animation-hero")
                                        var animData = {
                                            container: elem,
                                            renderer: "svg",
                                            loop: true,
                                            autoplay: false,
                                            rendererSettings: {
                                                progressiveLoad: false
                                            },
                                            path: "https://cryptic.modeltheme.com/wp-content/plugins/modeltheme-framework/inc/shortcodes/mt-animated-svg/json/slider/cryptic-slider.json",
                                            name: "scrollTop",
                                        };
                                        anim = bodymovin.loadAnimation(animData);

                                        var waypoint = new Waypoint({
                                            element: document.getElementById("animation-waypoint"),
                                            handler: function (direction) {
                                                anim.play();
                                            },
                                            offset: "bottom-in-view"
                                        })</script>
                                    <div class="vc_empty_space" style="height: 30px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>
                                    <h1 style="font-size: 48px;color: #ffffff;line-height: 62px;text-align: center;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1523952829396 wpb_start_animation animated">List yourself to Earn</h1>
                                    <h1 style="font-size: 20px;color: #ffffff;line-height: 25px;text-align: center;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1523956055597 wpb_start_animation animated">Coming Soon...</h1>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
        <!-- .entry-content -->
        </article>
        <!-- #post-## -->
        </main>
    </div>
</div>
	</div>
<!-- BEGIN: FLOATING SOCIAL BUTTON -->
<a data-toggle="tooltip" data-placement="top" title="Connect on Telegram" class="floating-social-btn" target="_blank" href="https://telegram.org/">
    <i class="fa fa-telegram"></i>
</a>
<!-- END: FLOATING SOCIAL BUTTON -->
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>