@{
    ViewData["Title"] = "FAQ";
}
@section Head{



}

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>F.A.Q</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">F.A.Q</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="high-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-1797" class="post-1797 page type-page status-publish hentry">
                    <div class="entry-content">

                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_accordion wpb_content_element  not-column-inherit" data-collapsible="" data-vc-disable-keydown="false" data-active-tab="1">
                                            <div class="wpb_wrapper wpb_accordion_wrapper ui-accordion ui-widget ui-helper-reset" role="tablist">
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                                        <a href="#our-theme-bitcurrency">What information is required to open a Armoney account?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false" style="display: block;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        <span>In most locations we require your</span>:
                                                                        <ul class="list mb0">
                                                                            <li class="relative mb2 nowrap justify-start bullet">

                                                                                Full name
                                                                            </li>
                                                                            <li class="relative mb2 nowrap justify-start bullet">
                                                                                Date of birth
                                                                            </li>
                                                                            <li class="relative mb2 nowrap justify-start bullet">Address and phone number</li>
                                                                        </ul>

                                                                        For fiat funding or higher account deposit and withdrawal limits, we'll need to confirm your identity with a government issued ID and proof of residence. For more information on how we handle your personal information, please refer to
                                                                        <a class="kraken-link" rel="noopener" href="#">Terms of Service</a> and
                                                                        <a class="kraken-link" rel="noopener" href="#">Privacy Policy</a>.

                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#wordpress-theme">How can I enable two-factor authentication (2FA) on my account?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        You will be prompted to set up login two-factor authentication when you access your account for the first time. We recommend a Google Authenticator. You can then set up and manage additional security features on the security page.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme">Will using a VPN affect my application?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        No, using a VPN will not affect your application but it may change your detected geolocation. If you are using a VPN please ensure your country of residence is correct as it may be pre-populated based on your IP address.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme"> How safe is the website and server?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        Secure exchanges are better.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme">How is the liquidity?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        The higher the exchange's volume, the better.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme">What are the exchanges fees?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                        The lower the better.
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme">How is the exchanges customer support?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme"> What trading pairs are available?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme"> How many different payment options does it have?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="wpb_accordion_section group">
                                                    <h3 class="wpb_accordion_header ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                        <a href="#woocommerce-multipurpose-theme"> Is the exchange beginner friendly?</a>
                                                    </h3>
                                                    <div class="wpb_accordion_content ui-accordion-content vc_clearfix ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true" style="display: none;">
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <span style="color: #8b8b8a;">
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
