@{
    ViewData["Title"] = "Funding Option";
}
@section Head{



}
<style>

    body .learn-press-tabs .learn-press-nav-tabs .learn-press-nav-tab {
        text-align: center;
        width: 14.2857%;
    }
        body .learn-press-tabs .learn-press-nav-tabs .learn-press-nav-tab a {
            font-size: 16px;
            font-weight: bold;
            padding: 20px 0px;
        }
    .crypto-refs {
        margin: 24px 0 0 0;
        display: flex;
        flex-wrap: wrap;
        max-width: 430px;
    }

        .crypto-refs a {
            width: 215px;
            margin: 0 0 25px 0;
            display: block;
            flex-shrink: 0;
            font-size: 14px;
        }

    .crypto-ref span {
        color: #baa049;
        font-weight: bold;
        padding: 0 0 0 12px;
    }

    .crypto-refs a span span {
        font-weight: 500;
        color: black;
    }
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Funding Options</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Funding Options</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-15475" class="post high-padding post-15475 type-post status-publish format-standard has-post-thumbnail hentry category-crypto">
                    <div class="container">
                        <div class="row">
                            <!-- POST CONTENT -->
                            <div class="col-md-12 col-sm-12 status-panel-sidebar main-content">
                                <!-- CONTENT -->
                                <div class="article-content">

                                    <h3>
                                        <strong>UPI</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            <b> Unified Payments Interface (UPI)</b> is a system that powers multiple Indian bank accounts into a single mobile application to facilitate inter-bank transactions through mobile phone.

                                            <ul>
                                                <li>At present, the UPI transfer limit per UPI transaction is ₹1 Lakh</li>
                                                <li>The maximum limit for BHIM UPI is ₹10,000 per transaction and ₹20,000 in a 24 hour window</li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>IMPS</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            <b>Immediate Payment Service (IMPS)</b> is an instant payment inter-bank electronic funds transfer system in India. IMPS offers an inter-bank electronic fund transfer service through mobile phones. Unlike RTGS, the service is available 24x7 throughout the year including bank holidays.

                                            <ul>
                                                <li>
                                                    Using IMPS, transfer comparatively lower amounts, up to Rs. 2 lakhs, instantly.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>NEFT</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            With<b> NEFT</b>, you can transfer any amount to the recipient’s account in a one-on-one transfer basis. NEFT transactions don’t have a maximum limit for funds that can be transferred in a single day.

                                            <ul>
                                                <li>
                                                    There is no maximum or minimum limit on the amount of funds that could be transferred through NEFT. However, the maximum amount per transaction is limited to Rs.10 lac.
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>RTGS (Real Time Gross Settlement)</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            Business owners can use RTGS when they need to transfer large amounts instantly. One advantage that RTGS has over the other methods is the transaction speed, since the entire amount is transferred in real time.

                                            <ul>
                                                <li>
                                                    *There’s a minimum limit of Rs. 2 lakhs for RTGS transactions, and there’s no maximum limit as such
                                                </li>
                                            </ul>
                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>Net Banking</strong>
                                    </h3>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>Crypto to crypto</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            Armoney will provide unique wallets to each customer via which they can deposit or withdraw cryptocurrencies

                                        </p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <div class="clearfix"></div>
                                    <h3>
                                        <strong>Paytm</strong>
                                    </h3>
                                    <div class="body">
                                        <p>
                                            Paytm is one of the largest mobile commerce platforms in India, offering its customers a digital wallet to store money and make quick payments.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
