@{
    ViewData["Title"] = "Gallery";
}

<style>


    .cd-tab-filter li:first-child {
        display: inline-block;
    }
    .iconfilter-shortcode .cd-gallery img {
        max-width: max-content;
        margin-top: 0;
    }
    .members_img_holder .member01-content {
        background: transparent !important;
        bottom: 0px;
        color: #252525;
        padding: 15px 5px 15px;
        text-align: center;
        transition: all 250ms ease-in-out;
        -webkit-transition: all 250ms ease-in-out;
        width: 100%;
    }
    .members_img_holder .member01_name {
        font-size: 16px;
        font-weight: 800;
        line-height: 20px;
        margin: 0;
        text-transform: capitalize;
        color: #252525;
        margin-bottom: 0px;
        text-align: left;
        height: 50px;
    }
    .cd-gallery iframe {
        display: block;
        width: 100%;
    }
    @@media only screen and (min-width: 1170px) {
        .cd-gallery li {
            width: 32.33%;
            margin: 0 auto !important;
        }
    }

    @@media only screen and (min-width: 768px) {
        .cd-tab-filter ul {
            background: #ac9445;
        }
    }

    @@media only screen and (min-width: 1170px) {
        .cd-tab-filter {
            width: 70%;
            float: none;
            margin: 0 auto;
            -webkit-transition: width 0.3s;
            -moz-transition: width 0.3s;
            transition: width 0.3s;
        }
    }

    .cd-tab-filter-wrapper {
        background-color: #ffffff;
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.08);
        z-index: 1;
    }

    .cd-tab-filter ul {
        padding: 0px;
    }

    .blog_custom_listings .mt_listing_interest_end_date {
        color: #252525;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @@media only screen and (max-width: 750px) {
        .members_img_holder .member01_name {
            height:75px !important
        }
    }
</style>

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Gallery</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Gallery</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-16512" class="post-16512 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div class="vc_empty_space" style="height: 35px">
                            <span class="vc_empty_space_inner"></span>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1519987912255">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="iconfilter-shortcode wow ">
                                            <div class="row">
                                                <main class="cd-main-content">
                                                    <div class="cd-tab-filter-wrapper">
                                                        <div class="cd-tab-filter">
                                                            <ul class="cd-filters">
                                                                <li class="placeholder">
                                                                    <a data-type="images">Images</a>
                                                                </li>
                                                                <li class="filter" data-filter=".images">
                                                                    <a class="selected" data-type="images">
                                                                        Images
                                                                    </a>
                                                                </li>
                                                                <li class="filter" data-filter=".videos">
                                                                    <a data-type="videos">Videos</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <section class="cd-gallery">
                                                        <ul>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/BOBBY_LEE.png" alt=" BOBBY LEE (Ceo Ballet) with Manpreet" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/BOBBY_LEE.png" alt="BOBBY LEE (Ceo Ballet) with Manpreet" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        BOBBY LEE (Ceo Ballet) with Manpreet
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/BROCK_PIERCE.png" alt="BROCK PIERCE with Manpreet" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/BROCK_PIERCE.png" alt="BROCK PIERCE with Manpreet" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        BROCK PIERCE with Manpreet
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/CHARLIE_SHREM.png" alt="CHARLIE SHREM (Bitcoin Pioneer) with Manpreet" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/CHARLIE_SHREM.png" alt="CHARLIE SHREM (Bitcoin Pioneer) with Manpreet" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        CHARLIE SHREM (Bitcoin Pioneer) with Manpreet
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/H.png" alt="H.R.H_Prince_Michael_of_Yugoslavia" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/H.png" alt="H.R.H_Prince_Michael_of_Yugoslavia" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        H.R.H Prince Michael of Yugoslavia
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/Mate_Tokay.png" alt="Mate_Tokay_(CEO_Bitcoin.com)_with_Manpreet_(CEO_Armoney.com)" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/Mate_Tokay.png" alt="Mate_Tokay_(CEO_Bitcoin.com)_with_Manpreet_(CEO_Armoney.com)" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        Mate Tokay (CEO_Bitcoin.com) with Manpreet (CEO_Armoney.com)
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/Shanu.png" alt="Shanu S. P. Hinduja, Chair of Hinduja Bank Switzerland" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/Shanu.png" alt="Shanu S. P. Hinduja, Chair of Hinduja Bank Switzerland" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        Shanu S. P. Hinduja, Chair of Hinduja Bank Switzerland
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/NYSE_interview.png" alt="NYSE interview" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/NYSE_interview.png" alt="NYSE interview" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        NYSE interview
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix images Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <img class="lazy lazy-hidden" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-lazy-type="image" data-lazy-src="../wp-content/uploads/gallery/Jack_Liao.jpeg" alt="Jack Liao (Ceo_Founder Bitcion Gold)" />
                                                                            <noscript>
                                                                                <img src="../wp-content/uploads/gallery/Jack_Liao.jpeg" alt="Jack Liao (Ceo_Founder Bitcion Gold)" />
                                                                            </noscript>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        Jack Liao (Ceo_Founder Bitcion Gold)
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class=" mix videos Bridge Protocol marketplace">
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <div class="members_img_holder">
                                                                        <div class="memeber01-img-holder">
                                                                            <iframe width="300" height="300" src="https://www.youtube.com/embed/M4kAhyPIJI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                                            <div class="member01-content">
                                                                                <div class="member01-content-inside">
                                                                                    <h3 style=color: !important; class="member01_name">
                                                                                        KNOW YOUR CEO
                                                                                    </h3>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </section>

                                                </main>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>

