@{
    ViewData["Title"] = "Inquiries";
}

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Inquiries</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Inquiries</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-262" class="post-262 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1510060950915 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1510060917274">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">INQUIRIES</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle">
                                            
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 50px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div role="form" class="wpcf7" id="wpcf7-f4-p262-o1" lang="en-US" dir="ltr">
                                            <div class="screen-reader-response"></div>
                                            <form action="https://cryptic.modeltheme.com/contact/#wpcf7-f4-p262-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                <div style="display: none;">
                                                    <input type="hidden" name="_wpcf7" value="4" />
                                                    <input type="hidden" name="_wpcf7_version" value="5.1.4" />
                                                    <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f4-p262-o1" />
                                                    <input type="hidden" name="_wpcf7_container_post" value="262" />
                                                </div>
                                                <div class="bitcurrency-contact">
                                                    <div class="section-top">
                                                        <span class="wpcf7-form-control-wrap first-name">
                                                            <input type="text" name="first-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="First Name" />
                                                        </span>
                                                        <br />
                                                        <span class="wpcf7-form-control-wrap last-name">
                                                            <input type="text" name="last-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Last Name" />
                                                        </span>
                                                        <br />
                                                        <span class="wpcf7-form-control-wrap your-email">
                                                            <input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email Adress" />
                                                        </span>
                                                        <br />
                                                        <span class="wpcf7-form-control-wrap your-message">
                                                            <textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Message"></textarea>
                                                        </span>
                                                    </div>
                                                    <p>
                                                        <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" />
                                                    </p>
                                                </div>
                                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
