@{
    ViewData["Title"] = "Media Assets";
}
@section Head{



}
<style>



    .downlod {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 15px;
    }


    .vc_custom_1509969103066 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 90px !important;
        padding-bottom: 90px !important;
        background-image: none !important;
    }
</style>

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Media Assets</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Media Assets</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-226" class="post-226 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1509969103066 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1509623292032">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow fadeIn text_center">
                                            <h1 class="section-title dark_title">MEDIA ASSETS</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle"></div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 10px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <img src="../wp-content/uploads/gallery/Armoney logo v3-01.png" / style="border: 1px solid #baa049; border-radius: 10px;">
                                                        <p class="downlod">
                                                            <a href="../wp-content/uploads/gallery/Armoney logo v3-01.jpg" download>
                                                                JPG
                                                            </a>
                                                            <a href="../wp-content/uploads/gallery/gold logo.png" download>
                                                                ICON
                                                            </a>
                                                            <a href="../wp-content/uploads/gallery/Armoney logo v3.ai" download>
                                                                AI
                                                            </a>
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <img src="../wp-content/uploads/gallery/greenllogo.png" / style="border: 1px solid #baa049; border-radius: 10px;">
                                                        <p class="downlod">
                                                            <a href="../wp-content/uploads/gallery/green logo.png" download>
                                                                PNG
                                                            </a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 35px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>

                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>