@{
    ViewData["Title"] = "News";
}
<style>

    .vc_custom_1518449769790 {
        margin-bottom: 0px !important;
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    .blog-posts-shortcode .title-n-excerpt {
        padding: 20px;
        height: 200px;
    }
    .ct-widget__body {
        max-height:none !important;
    }
  .ct-widget_size_md {
        min-width: 768px;
        max-width: 100% !important;
    }
</style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>News</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li class="active">News</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-17270" class="post-17270 page type-page status-publish hentry">
                    <div class="entry-content">

                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515508003202">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1510234808641">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">NEWS</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle">It’s an ever-changing business. To stay on top of the game, don’t forget to keep yourself in the know.</div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 50px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="blog-posts simple-posts blog-posts-shortcode wow fadeIn">
                                            <div class="row">
                                                <div class="vc_col-sm-12">
                                                    <article class="single-post list-view">
                                                        <div class="blog_custom">
                                                            <script src="https://cointelegraph.com/news-widget" data-ct-widget-limit="12" data-ct-widget-theme="light" data-ct-widget-size="medium" data-ct-widget-images="true" data-ct-widget-language="en"></script>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


