@{
    ViewData["Title"] = "Referral";
}
    <style>

    .vc_custom_1518449769790 {
        margin-bottom: 0px !important;
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    .blog-posts-shortcode .title-n-excerpt {
        padding: 20px;
        height: 200px;
    }
    .ct-widget__body {
        max-height:none !important;
    }
  .ct-widget_size_md {
        min-width: 768px;
        max-width: 100% !important;
    }
    .partnerx-hero-bullets {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        justify-content: center;
        z-index: 3;
    }
    .partnerx-hero-bullets-list {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-evenly;
        justify-content: space-evenly;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .partnerx-hero-bullets-list-item {
        list-style-type: none;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        padding: 30px 15px;
        -webkit-flex-basis: 25%;
        flex-basis: 25%;
    }
    .partnerx-hero-bullets-list-item-text {
        padding-top: 25px;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.2em;
        color: #000;
    }
        @@media screen and (min-width: 768px) {
            .partnerx-hiw-slider-item-content {
                margin: 25px auto;
            }
        }
.partnerx-hiw-slider-item-content {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    position: relative;
    padding: 40px 25px;
    background-color: #fff;
    width: calc(100% - 25px);
    min-height: 300px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin: 25px 0;
    overflow: hidden;
    -webkit-flex-direction: column;
    flex-direction: column;
}
        .partnerx-hiw-slider-item-content-ig {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            -webkit-justify-content: center;
            justify-content: center;
        }

        .partnerx-hiw-slider-item-content-ig {
            height: 50px;
            margin-bottom: 20px;
        }
        .partnerx-hiw-slider-item-content-header {
            margin: 10px auto 25px;
            -webkit-align-items: center;
            align-items: center;
        }

        .partnerx-hiw-slider-item-content-header, .partnerx-hiw-slider-item-content-ig {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            -webkit-justify-content: center;
            justify-content: center;
        }
        .partnerx-hiw-slider-item-content-description {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            -webkit-justify-content: center;
            justify-content: center;
        }
        .partnerx-hiw-slider-item-content-header-text {
            text-align: center;
            font-weight: 700;
            font-size: 20px;
            color: #1c1b21;
        }
        .partnerx-hiw-slider-item-content-description-text {
            color: #929292;
            line-height: 1.43em;
            text-align: center;
            font-size: 14px;
        }
    </style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Referral</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li class="active">Referral</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-17270" class="post-17270 page type-page status-publish hentry">
                    <div class="entry-content">

                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1515508003202">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1510234808641">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">Referral Program</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle">Refer and earn 50% commission of every trade. Be your own Boss!</div>
                                        </div>
                                        <div class="vc_empty_space" style="height: 50px">
                                            <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">

                                                <div class="partnerx-hero-bullets">
                                                    <ul class="partnerx-hero-bullets-list">
                                                        <li class="partnerx-hero-bullets-list-item">
                                                            <img src="../wp-content/uploads/gallery/partnerx-bullet-1.cc775736.svg" alt="Bullet-1" class="partnerx-hero-bullets-list-item-image">
                                                            <span class="partnerx-hero-bullets-list-item-text">Earn 50% commission on every trade!</span>
                                                        </li>
                                                        <li class="partnerx-hero-bullets-list-item">
                                                            <img src="../wp-content/uploads/gallery/partnerx-bullet-2.d97bc4a7.svg" alt="Bullet-2" class="partnerx-hero-bullets-list-item-image">
                                                            <span class="partnerx-hero-bullets-list-item-text">Payout within 24 hours!</span>
                                                        </li>
                                                        <li class="partnerx-hero-bullets-list-item">
                                                            <img src="../wp-content/uploads/gallery/partnerx-bullet-3.47e47475.svg" alt="Bullet-3" class="partnerx-hero-bullets-list-item-image">
                                                            <span class="partnerx-hero-bullets-list-item-text">Unlimited earnings</span>
                                                        </li>
                                                        <li class="partnerx-hero-bullets-list-item">
                                                            <img src="../wp-content/uploads/gallery/partnerx-bullet-4.5be3f0c7.svg" alt="Bullet-4" class="partnerx-hero-bullets-list-item-image">
                                                            <span class="partnerx-hero-bullets-list-item-text">Easy Tracking &amp; Reports</span>
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-12" style="padding-top:90px !important">
                                <div class="vc_column-inner vc_custom_1510234808641">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">How to works</h1>
                                            <div class="section-border dark_border"></div>
                                            <div class="section-subtitle dark_subtitle"></div>
                                        </div>
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="col-md-4">
                                                            <div class="">
                                                                <div class="partnerx-hiw-slider-item-content">
                                                                    <div class="partnerx-hiw-slider-item-content-ig">
                                                                        <img src="../wp-content/uploads/gallery/partnerx-sign-up.3d7218c7.svg" alt="Sign up">
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-header">
                                                                        <span class="partnerx-hiw-slider-item-content-header-text">Get your link</span>
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-description">
                                                                        <span class="partnerx-hiw-slider-item-content-description-text">Join ARMoney and get your unique tracking link. You'll earn for customers who sign up through this link.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="">
                                                                <div class="partnerx-hiw-slider-item-content">
                                                                    <div class="partnerx-hiw-slider-item-content-ig">
                                                                        <img src="../wp-content/uploads/gallery/partnerx-share-your-link.f6c21e6b.svg" alt="Sign up">
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-header">
                                                                        <span class="partnerx-hiw-slider-item-content-header-text">Share your link</span>
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-description">
                                                                        <span class="partnerx-hiw-slider-item-content-description-text">Share your links via Telegram, Twitter, Whatsapp or anyway you want. The more you promote, the more you earn.</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="">
                                                                <div class="partnerx-hiw-slider-item-content">
                                                                    <div class="partnerx-hiw-slider-item-content-ig">
                                                                        <img src="../wp-content/uploads/gallery/partnerx-earn-rewards.666ab92e.svg" alt="Sign up">
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-header">
                                                                        <span class="partnerx-hiw-slider-item-content-header-text">Earn when they trade!</span>
                                                                    </div>
                                                                    <div class="partnerx-hiw-slider-item-content-description">
                                                                        <span class="partnerx-hiw-slider-item-content-description-text">You earn 50% commission on every friend's trading fees! Even while you're asleep!</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div style="padding-top:50px;">
                                                    <a class="vc_general vc_btn3 vc_btn3-size-lg vc_btn3-shape-rounded vc_btn3-style-3d vc_btn3-icon-left vc_btn3-color-mulled-wine" style="width:100%; text-align:center;" href="https://armoney.in/Login" target="_blank">
                                                        Login to Participate
                                                    </a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>

                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


