@{
    ViewData["Title"] = "Security";
}
@section Head{



}
<style>
    .dark_subtitle {
        text-align:justify;
    }
    .vc_custom_1509969103066 {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }

    .wpb_row {
        margin-bottom: 10px;
    }

    .icons {
        text-align: center;
        float: left;
        align-items: center;
        justify-content: center;
        display: flex !important;
        margin-right: 15px;
        color: #baa049;
        font: normal normal normal 25px/1 FontAwesome !important;
        border: solid 1px #baa049;
        border-radius: 2em;
        height: 55px;
        width: 55px;
    }

    .justify {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 span {
        color: #baa049;
    }
</style>

<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>Security</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">Security</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-1945" class="post-1945 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1509969103066 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1509623292032">
                                    <div class="wpb_wrapper">
                                        <div class="">
                                            <h2>
                                                <span><strong>Safeguarding your funds and your privacy</strong>&nbsp;is our number one objective</span>
                                            </h2><div class="body">
                                                <p>ARMoney takes a comprehensive approach to protecting your investments. Our team of experts have built in a number of sophisticated measures to prevent the theft of money or information.&nbsp;</p>

                                                <p>Theft isn't the only threat of course. As a professional exchange we offer financial stability, with full reserves, healthy banking relationships and the highest standards of legal compliance.</p>
                                            </div>
                                        </div>

                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">Security above everything</h1>
                                            <div class="section-border dark_border"></div>
                                            <h2 class="text-center">
                                                <span><strong>World-class</strong>&nbsp;Security Team</span>
                                            </h2>
                                            <div class="section-subtitle dark_subtitle">
                                                We’ve assembled a global team of top security professionals who take a risk-based approach to ensuring our clients’ assets are protected at the highest
                                                levels while maintaining exceptional performance and an unparalleled client experience. Our team has decades of experience building security programs for
                                                the world’s top brands, investigating the largest consumer data breaches,
                                                developing security technology trusted by millions of businesses and discovering vulnerabilities in the technology used by billions of people every day.
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579238314">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper">

                                                        <h2 style="font-size: 23px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579310415">Safe Coin Storage</h2>
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: justify;">
                                                                    95% of all deposits are kept in offline, air-gapped, geographically distributed cold storage.
                                                                    We keep full reserves so that you can always withdraw immediately on demand.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper">

                                                        <h2 style="font-size: 23px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579320871">Platform Security</h2>
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: justify;">
                                                                    Our servers reside in secure cages under 24/7 surveillance by armed guards and video monitors.
                                                                    Physical access and code deployment are strictly controlled. Nothing ships without intensive review.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579864233">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper">

                                                        <h2 style="font-size: 23px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579726084">Information Security</h2>
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: justify;">
                                                                    All sensitive account information is encrypted at rest at both the system and data level. Access is strictly controlled and monitored.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper">

                                                        <h2 style="font-size: 23px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579784800">Penetration Testing</h2>
                                                        <div class="wpb_text_column wpb_content_element ">
                                                            <div class="wpb_wrapper">
                                                                <p style="text-align: justify;">
                                                                    We have an expert team dedicated to testing our own systems via every imaginable attack vector.
                                                                    Additionally, we run a bug bounty program to leverage the expertise of the broader security research community.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="vc_empty_space" style="height: 30px">
                                        <span class="vc_empty_space_inner"></span>
                                    </div>

                                    <div class="wpb_wrapper">


                                        <div class="title-subtile-holder wow  ">
                                            <h1 class="section-title dark_title">Security Features</h1>
                                            <div class="section-border dark_border"></div>

                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579238314">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580784079">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579310415">2FA (Google Authenticator) to keep your account secure</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1509968160429">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579320871">No Phone/SMS account recovery, your account stays in your hands</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579864233">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580607744">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579726084">Email confirmations for withdrawals with self-serve account lock</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580628952">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579784800">Configurable account timeout for another layer of protection</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579238314">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580784079">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579310415">Customizable, granular API key permissions with range boundaries</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1509968160429">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579320871">Global settings time lock for extreme security when you're away</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579864233">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580607744">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579726084">PGP signed and encrypted email for secure communication</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580628952">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579784800">SSL encryption to protect you when browsing ARMoney </h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579238314">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580784079">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579310415">Constant, real-time monitoring for suspicious activity</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1509968160429">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579320871">Zero settlement risk, no chargeback fraud when trading crypto</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1510579864233">
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970621627">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580607744">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579726084">Sensitive data is fully encrypted at rest and in transit</h2>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                                <div class="vc_column-inner vc_custom_1509970629692">
                                                    <div class="wpb_wrapper justify">
                                                        <div class="wpb_text_column wpb_content_element  vc_custom_1510580628952">
                                                            <div class="wpb_wrapper">
                                                                <p>
                                                                    <i class="fa fa-check icons" aria-hidden="true"></i>

                                                                </p>
                                                            </div>
                                                        </div>
                                                        <h2 style="font-size: 18px;color: #252525;line-height: 35px;text-align: left;font-family:Montserrat;font-weight:700;font-style:normal" class="vc_custom_heading vc_custom_1510579784800">High priority 24/7 live chat and email support for urgent concerns</h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>
