@{
    ViewData["Title"] = "Testimonials";
}
@section Head{



}
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left"><h1>Testimonials</h1></div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right"><li><a href="/">Home</a></li> <li class="active">Testimonials</li></ol>
                </div>
            </div>
        </div>
    </div>
</div><div class="clearfix"></div>

<!-- Page content -->
<!-- Blog content -->
<div class="container blog-posts high-padding">

   
    <div class="row">


        <div class="col-md-12 main-content">

            <div class="row">


                <article id="post-17638" class="single-post col-md-12 list-view blogloop-v1 post-17638 post type-post status-publish format-standard has-post-thumbnail hentry category-ico">
                    <div class="blog_custom">

                        <!-- POST THUMBNAIL -->
                        <div class="col-md-6 post-thumbnail">
                            <a href="../dutch-finance-minister-calls-for-ico-regulations/index.html" class="relative">
                                <img class="blog_post_image" src="../wp-content/uploads/2017/12/armnews.jpg" alt="Dutch Finance Minister Calls for ICO Regulations" />
                            </a>
                        </div>

                        <!-- POST DETAILS -->
                        <div class="col-md-6 post-details">
                            <div class="post-details-padding">
                                <!-- POST TITLE -->
                                <h3 class="post-name row">
                                    <a title="Dutch Finance Minister Calls for ICO Regulations" href="https://news.bitcoin.com/armoney-recommends-only-the-following-cryptocurrencies-in-india/" target="_blank">
                                        <!-- POST TITLE -->
                                        Armoney Recommends Only the Following Cryptocurrencies in India
                                    </a>
                                </h3>

                                <!-- POST METAS (DATE / TAGS / AUTHOR / COMMENTS) -->
                                <div class="post-category-comment-date row">
                                    <!-- POST META: DATE -->
                                    <div class="post-date">
                                        <a title="Dutch Finance Minister Calls for ICO Regulations" href="https://news.bitcoin.com/armoney-recommends-only-the-following-cryptocurrencies-in-india/" target="_blank">
                                            <i class="icon-calendar"></i>
                                            June 11, 2020
                                        </a>
                                    </div>
                                </div>

                                <!-- POST CONTENT / EXCERPT -->
                                <div class="post-excerpt row">
                                    <p>
                                        So, what is cryptocurrency? <br />
                                        It’s an internet medium to exchange funds between individuals or corporations to conduct financial transactions. An individual becomes a bank and has control [&hellip;]
                                    </p>
                                    <div class="clearfix"></div>

                                    <p>
                                        <a href="https://news.bitcoin.com/armoney-recommends-only-the-following-cryptocurrencies-in-india/" target="_blank" class="more-link">
                                            Continue Reading <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                        </a>
                                    </p>
                                    <div class="clearfix"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
              
            </div>

            <div class="clearfix"></div>

        </div>

    </div>
</div>


<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>


