@{
    ViewData["Title"] = "Vip";
}
    <style>
    .tabs-shortcode .gc--2-of-3 {
        width: 65%;
        padding-left: 5% !important;
        margin-left:0 !important;
    }
    @@media (max-width: 1024px){
.tabs-shortcode .gc--2-of-3 {
    width: 100%;
    margin: 0;
    padding-left: 0 !important
}
        }
        .tabs-shortcode .nacc li {
            opacity: 0;
            list-style: none;
            transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
            text-align: left;
            background: #b09746;
            padding: 30px;
        }

        article ul li {
            color: #ffffff;
            font-size: 17px;
            font-weight: 300;
            line-height: 26px;
            opacity: 1;
            visibility: visible;
        }
        .single article .article-content p, p, .post-excerpt {
            font-family: Montserrat;
            line-height: 25px;
            color: #ffffff;
            font-size: 15px;
        }
        .tabs-shortcode.naccs .menu div span.light {
            position: absolute;
            background-color: #b09746;
            left: 0;
            height: 100%;
            width: 4px;
            top: 0;
            border-radius: 0;
        }
        .blog_custom_listings {
            background: #fff;
            box-shadow: 0 2px 1px rgba(0,0,0,.1);
            -ms-box-shadow: 0 2px 1px rgba(0,0,0,.1);
            -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
            padding: 15px 30px 20px 30px;
            margin-bottom: 30px;
            border-radius: 15px;
        }
        .blog_custom_listings:hover {
            background: #b09746;
            box-shadow: 0 2px 1px rgba(0,0,0,.1);
            -ms-box-shadow: 0 2px 1px rgba(0,0,0,.1);
            -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.1);
            padding: 15px 30px 20px 30px;
            margin-bottom: 30px;
            border-radius:15px;
        }
    </style>
<!-- HEADER TITLE BREADCRUBS SECTION -->
<div class="header-title-breadcrumb relative">
    <div class="header-title-breadcrumb-overlay text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6 col-xs-6 text-left">
                    <h1>VIP</h1>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-6">
                    <ol class="breadcrumb text-right">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="active">VIP</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<!-- Page content -->
<div id="primary" class="no-padding content-area no-sidebar">
    <div class="container">
        <div class="row">
            <main id="main" class="col-md-12 site-main main-content">
                <article id="post-17268" class="post-17268 page type-page status-publish hentry">
                    <div class="entry-content">
                        <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1520521417385 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner vc_custom_1520501848578">
                                    <div class="wpb_wrapper">
                                        <div class="title-subtile-holder wow fadeIn text_center animated" style="visibility: visible; animation-name: fadeIn;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="col-md-4">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <a class="relative" href="#">
                                                                        <img style="height:50px;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/78c0c6f.png" />
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Partner</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <h6>
                                                                        Need 30000 ARMoney EXP
                                                                    </h6>
                                                                </div>
                                                                <h6 class="mt_listing_interest_end_date">
                                                                    <a class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-round vc_btn3-style-3d vc_btn3-icon-right vc_btn3-color-mulled-wine" href="https://armoney.in/Login" target="_blank">
                                                                        Login <i class="vc_btn3-icon vc_li vc_li-bubble"></i>
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <a class="relative" href="#">
                                                                        <img style="height:50px;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/723ccb4.png" />
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">Premier</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <h6>
                                                                        Need 30000 ARMoney EXP
                                                                    </h6>
                                                                </div>
                                                                <h6 class="mt_listing_interest_end_date">
                                                                    <a class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-round vc_btn3-style-3d vc_btn3-icon-right vc_btn3-color-mulled-wine" href="https://armoney.in/Login" target="_blank">
                                                                        Login <i class="vc_btn3-icon vc_li vc_li-bubble"></i>
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="blog_custom_listings">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <a class="relative" href="#">
                                                                        <img style="height:50px;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/ae5befe.png" />
                                                                    </a>
                                                                </div>
                                                                <div class="col-md-9">
                                                                    <h4 class="post-name-listings">
                                                                        <a href="#">VIP</a>
                                                                    </h4>

                                                                </div>
                                                            </div>
                                                            <div class="listings_details">

                                                                <div class="recent-received-goals">
                                                                    <h6>
                                                                        Need 30000 ARMoney EXP
                                                                    </h6>
                                                                </div>
                                                                <h6 class="mt_listing_interest_end_date">
                                                                    <a class="vc_general vc_btn3 vc_btn3-size-xs vc_btn3-shape-round vc_btn3-style-3d vc_btn3-icon-right vc_btn3-color-mulled-wine" href="https://armoney.in/Login" target="_blank">
                                                                        Login <i class="vc_btn3-icon vc_li vc_li-bubble"></i>
                                                                    </a>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                          
                                        </div>
                                        <div class="vc_empty_space" style="height: 50px">
                                        <span class="vc_empty_space_inner"></span>
                                        </div>
                                        <div class="tabs-shortcode parent-0 naccs ">
                                            <div class="grid-div">
                                                <div class="gc gc--1-of-3 active">
                                                    <div class="menu">
                                                        <div class="active" data-tab="tab-0">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/jieri.svg" />
                                                                Festive Gift
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 active">
                                                    <ul class="nacc">
                                                        <li class="active" id="tab-0">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    As a token of ARMoney's appreciation, VIP users across all levels are automatically entitled to receive special gifts during festive month.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>Note: VIP users may be contacted by their respective relationship (account) manager for provision of mailing address.</p>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt; Yes
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-1">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/shengri.svg" />
                                                                Birthday Gift
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-1">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    VIP users can receive an exclusive birthday gift during their birthday month.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt; Yes
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-2">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/hangyanbaogao.svg" />
                                                                Market Research
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-2">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    This is a weekly research report covering trending topics, industrial application usage, international policies,
                                                                    blockchain-related technological developments, block mining difficulty and mining reward analysis, market sentiment,
                                                                    primary market investment climate, etc. All qualifying VIP levels are automatically entitled to the report which can be
                                                                    received via email or group chats.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt; Yes <br />
                                                                    3) Eligibility subject to continued fulfilment of minimum VIP criteria (Advanced)
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-3">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/dakehujingli.svg" />
                                                                Account Manager
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-3">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    A account manager will be allocated to all qualifying VIP users, providing 24/7 dedicated support.
                                                                    VIP users can find the contact details of their account manager in the VIP Account Center after login.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt; Yes. Your dedicated account manager is available to address your concerns.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-4">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/kuaisuchongti.svg" />
                                                                Fast Dep/With
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-4">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    VIP users can apply for Fast Deposit/Withdrawal processing if the system triggers manual review, reducing the average processing time to under 20 minutes
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt; No. Please click the button below to apply. Your account manager will follow-up with you within 1 business day.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-5">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/jiedaiedu.svg" />
                                                                Increased Loan Limits
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-5">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    VIP users can enjoy higher margin loan limits, allowing them to borrow more against their collateral balance.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2)  Eligibility By Default -&gt;  No. Please click the button below to apply. Your account manager will follow-up with you within 1 business day.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-6">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/jiedaiedu.svg" />
                                                                Increased Withdrawals
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-6">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    Withdrawal limits applied on a per instance, per day and per month basis can differ across different tokens. Partner level VIPs can apply to customize withdrawal limits.
                                                                    Ambassador level VIPs can apply for up to 3x limit increase, Premier level VIPs can apply for up to 2x limit increase.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2) By Default - No. Please click the button below to apply. Your account manager will follow-up with you within 1 business day.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-7">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/fengxianlv.svg" />
                                                                Reduced Risk Rate
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-7">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    Margin Risk Rate by default not be less 200%. Partner level VIPs can request to reduce the said risk rate level to 150%.
                                                                    Ambassador level VIPs can request to reduce the risk rate to 170%.
                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2) Eligibility By Default -> No. Your account manager will notify you when this benefit takes effect.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="gc gc--1-of-3 ">
                                                    <div class="menu">
                                                        <div class="" data-tab="tab-8">
                                                            <span class="light"></span>
                                                            <span>
                                                                <img style="height:30px!important;" src="../wp-content/plugins/modeltheme-listings-manager/inc/shortcodes/images/alading.svg" />
                                                                Aladdin Wish
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gc gc--2-of-3 ">
                                                    <ul class="nacc">
                                                        <li class="" id="tab-8">
                                                            <div>
                                                                <h2>Benefit Summary</h2>
                                                                <p>
                                                                    VIP users can raise 'a wish'. Huobi senior management will grant one (1) wish from the wish list across all users.

                                                                </p>
                                                                <h2>Entitlement Basis</h2>
                                                                <p>
                                                                    Benefit Entitlement：<br />
                                                                    1) All VIP Levels (Partner/Premier/VIP)<br />
                                                                    2) Eligibility By Default -> No. Your account manager will notify you when this benefit takes effect.
                                                                </p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row-full-width vc_clearfix"></div>
                    </div>
                    <!-- .entry-content -->
                </article>
                <!-- #post-## -->
            </main>
        </div>
    </div>
</div>
<!-- BEGIN: FLOATING SOCIAL BUTTON -->
<a data-toggle="tooltip" data-placement="top" title="Connect on Telegram" class="floating-social-btn" target="_blank" href="https://telegram.org/">
    <i class="fa fa-telegram"></i>
</a>
<!-- END: FLOATING SOCIAL BUTTON -->
<!-- BACK TO TOP BUTTON -->
<a class="back-to-top modeltheme-is-visible modeltheme-fade-out" href="#0">
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
</a>